<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/crea-tu-cuenta.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-buscador">
            <a class="logo" href="/"><img  src="img/logo-mercado-liebre.svg"  alt="logo mercado liebre arriba de todo"></a>
            <div class="buscador">
            <form action="../../form-result.php" method="post" target="_blank">
                <p>
                    <input type="search" name="Buscar productos" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </p>
            </form>
             </div>   
            <p class="text-center2"><i class="fas fa-hand-holding-usd"></i> compra en cuotas sin tarjeta
                de credito</p>
        </div>
            <nav class="navegacion">
                <ul>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendas-oficiales">Tiendas oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/crear-tu-cuenta">Crear tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/ingresa">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="/mis-compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <main>
        <form class="formFormulario" action="" method="POST" id="form">
            <div class="form">
                <h1>Registrarse</h1>
                <div class="grupo">
                    <input class="inputForm" type="text" name="nombre" id="nombre" required><span class="barra"></span>
                    <label for="nombre">Nombre y apellido</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="text" name="usuario" id="usuario" minlength="6" required><span
                        class="barra"></span>
                    <label for="usuario">Usuario</label>

                </div>
                <div class="grupo">
                    <input class="inputForm" type="password" name="password" id="password" minlength="8" required><span
                        class="barra"></span>
                    <label for="password">Contraseña</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="password" name="password2" id="password2" minlength="8" required><span
                        class="barra"></span>
                    <label for="password2">Confirmar contraseña</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="email" name="email" id="email" required><span class="barra"></span>
                    <label for="email">Email</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="number" name="telefono" id="telefono" required><span class="barra"></span>
                    <label for="telefono">Telefono</label>
                </div>
                <div class="grupo">
                    <p>Fecha de nacimiento</p>
                    <input class="inputForm" type="date" name="fecha" id="fecha" required><span class="barra"></span>
                    <label for="fecha"></label>
                </div>
                <div>
                    <p>Foto de perfil</p>
                    <input type="file" name="avatar" accept=".jpg">
                </div>
                <div class="grupo">
                    <input class="inputForm" type="text" name="domicilio" id="domicilio" required><span class="barra"></span>
                    <label for="domicilio">Domicilio</label>
                </div>
                <div class="grupo">
                   <p>Perfil del usuario</p>
                   <input type="radio" name="pefil-usuario" value="Comprador">Comprador
                   <input type="radio" name="pefil-usuario" value="Vendedor">Vendedor
                </div>
                <div class="grupo-check">
                    <p>Intereses</p>
                    <div id="checkboxes">
                        <li> <input type="checkbox" name="intereses" value="Electro">Electro</li>
                        <li> <input type="checkbox" name="intereses" value="Moda">Moda</li>
                        <li> <input type="checkbox" name="intereses" value="Hogar">Hogar</li>
                        <li> <input type="checkbox" name="intereses" value="Jugueteria">Juguetería</li>
                        <li> <input type="checkbox" name="intereses" value="vida-sana">Vida sana</li>
                  </ul>
                </div>

               
                <button class="boton-ingresar" type='submit'>Enviar</button>
                 <button class="boton-borrar" type="reset">Borrar</button>
            </div>
            </button>
        </form>
    </main>
    <footer>
    
    </footer>

</body>


</html>
